header
    .navbar-collapse
        flex-grow: 0
        border-top: 1px solid white
        border-bottom: 1px solid white
        ul
            li
                color: white
                a
                    color: white
                    font-size: 15px
                    text-decoration: none
                    padding: 15px
                a:hover
                    border-top-left-radius: 5px
                    border-top-right-radius: 5px
                    color: rouge
                    background-color: #c91d34
                    cursor: pointer
    .text
        h5 
            font-size: 35px
            text-transform: uppercase
            letter-spacing: 2px
            margin-top: 25px
            font-family: Courgette-Regular
            position: absolute
            z-index: 1    
            padding-top: 180px
            padding-left: 22rem
            text-align: center
            color: white
            
            .bold
                font-size: 46px
            .red
                color: #c91d34
                font-size: 46px
    .boutton
        font-size: 30px
        z-index: 1
        position: absolute
        padding-top: 61vh
        padding-left: 27rem

        .btn 
            border: 10px solid none
            border-radius: 30px
            padding: 10px 30px            
    .carousel-item 
        height: 100vh
        min-height: 300px
        background: no-repeat center center scroll
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        .d-block
            filter: brightness(10%)
            -webkit-filter: brightness(10%)
        .carousel-caption 
            padding-bottom: 270px 
    .carousel-indicators
        li
            border-radius: 50%
            width: 12px
            height: 12px
