// GSM
@media screen and (max-width: 760px)
    header
        height: 100%
        width: 100%
        nav
            ul
                display: none   
    section
    &:first-of-type
        .row
            display: block
            margin: 0
    section            
    .chef
        width: 90%
        margin-left: 65px
        .photo
            flex-direction: column       